<!DOCTYPE html lang=en>

    <head>
        <title>Sign Up</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <style>

            .container{
                color:red;
            }

            .form{
                position: relative;
                top: -150px;

            }
        </style>

    </head>

    <body>
        
        <canvas id="myCanvas"></canvas>
        <div class=form>
            <p>Create Username:</p>
            <input id="newUser" name="user_name"></input>
            <p>Create Password:</p>
            <input id='newPassword' name="password"></input>
            
            <br><br>
            <button id="submit" type="submit">Enter</button>
        </div>


        <div class="container"></div>


    </body>


    <script>
        function register(){
            $(document).ready(function(){
                $('#submit').click(function(){   //Onclick return json to server (THIS IS THE SERVER FRAMEWORK I WILL USE!)
                    var newUsername = $('#newUser').val();
                    var newPassword = $('#newPassword').val();
                    
                    if (newUsername!= "" && newPassword!=""){
                        $.ajax({
                        url:'/addUser',
                        type: 'POST',
                        data:{username:newUsername,password:newPassword,status:"success"},
                        success: function(response){
                            if (response.redirect) {
                                window.location.href = response.redirect;
                            }                     
                            //$('.container').text(JSON.stringify(response['status']));
                        }
                    });  
                    }else{alert("Fill in the missing parameters");}
    
                });
            });
        }
        register();
    </script>





</html>









