<!DOCTYPE html lang=en>

    <head>
        <title>Home</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='home.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home.css')}}">
    </head>

    <body>
 
        <div>
            {{user}}
            <p>Welcome to the home page!</p>
                
            <button id="logout">logout</button>
        </div>

        <div class="container"></div>

    </body>

</html>









