<!DOCTYPE html lang=en>

<head>
    <title>Authorize User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='login.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login.css')}}">
</head>

<body>
    
    <canvas id="myCanvas" width="1000" height="1000"></canvas>
    <div class=form>
        
        <span id="text">
        <p>Username:</p>
        <input id="user" name="user_name"></input>
        <p>Password:</p>
        <input id='password' name="password"></input>
        <span>
        
        <br><br>
        <button id="submit" type="submit">Enter</button>

        <br><br>
        <div class="container"></div>
        
        <div class="register">
        <button>register</button>
        </div>
    </div>

</body>

</html>









