<!DOCTYPE html lang=en>

    <head>
        <title>Sign Up</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='signup.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='signup.css')}}">
    </head>

    <body>
        <canvas id="myCanvas"></canvas>
        <div class=form>
            <p>Create Username:</p>
            <input id="newUser" name="user_name"></input>
            <p>Create Password:</p>
            <input id='newPassword' name="password"></input>
            
            <br><br>
            <button id="submit" type="submit">Enter</button>
        </div>


        <div class="container"></div>
    </body>
</html>









