<!DOCTYPE html lang=en>

    <head>
        <title>tic-tac-toe</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='tic-tac-toe.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='tic-tac-toe.css')}}">
    </head>

    <body>
        <h1></h1>
        
        <!-- default container to manipulate in JS-->
        
        <div class="main">
                <canvas id="" width="200" height="200"></canvas>
                <canvas id="" width="2000" height="500"></canvas>
                
                <h2 id="head">Crypto</h2>
                
                <div class="data">
                </div>
        </div>

        <!-- script gets onload data from backend and sends to js file-->
        <script type="text/javascript">window.onload_data = ({{ onload_data | tojson }});</script>

    </body>



</html>

