<!DOCTYPE html>

    <head>
        <title>TicTacToe</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='tic_tac_toe.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='tic_tac_toe.css')}}">
    </head>

    <body>
        <h1></h1>
        
        <!-- default container to manipulate in JS-->
        
        <div class="main">
            <div board>
                <img id="board" src="../static/ultimate-tic-tac-toe12-01.webp" alt="tic tac toe grid">
                <div class="b">
                    <button class="b" id="b1">1</button>
                    <button class="b" id="b2">2</button>
                    <button class="b" id="b3">3</button>
                    <button class="b" id="b4">4</button>
                    <button class="b" id="b5">5</button>
                    <button class="b" id="b6">6</button>
                    <button class="b" id="b7">7</button>
                    <button class="b" id="b8">8</button>
                    <button class="b" id="b9">9</button>
                </div>
            
            </div>
        
        </div>

        <script type="text/javascript">window.onload_data = ({{ onload_data | tojson }});</script>

    </body>




</html>

