<!DOCTYPE html lang=en>

    <head>
        <title>stock index</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='main.js')}}"></script>
        
        <style>
            body { background-color: rgb(0, 0, 0);}
            h1 { color: white}
            title { color: white;}
            .data{ color: white;}
        </style>

    </head>

    <body>
        <h1>Daily Movement</h1>
        
        <!-- default container to manipulate in JS-->
        
        <div class="data">
            <div class="stock_container"></div><br>
            <div class="crypto_container"></div>
        </div>

        <!-- script gets onload data from backend and sends to js file-->
        <script type="text/javascript">window.onload_data = ({{ onload_data | tojson }});</script>

    </body>



</html>

