<!DOCTYPE html lang=en>

    <head>
        <title>Calculator</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='calculator.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='calculator.css')}}">
        
    </head>

    <body>
        <div id="layout">
            <input id="screen" disabled></input>
            <br><br>
            
            <button disabled>n</button>
            <button disabled>n</button>
            <button id="clear">C</button>
            <button id="divide">/</button>
            <br><br>
            
            <button id="7">7</button>
            <button id="8">8</button>
            <button id="9">9</button>
            <button id="times">*</button>
            
            <br><br>
            <button id="4">4</button>
            <button id="5">5</button>
            <button id="6">6</button>
            <button id="minus">-</button>
            
            <br><br>
            <button id="1">1</button>
            <button id="2">2</button>
            <button id="3">3</button>
            <button id="plus">+</button>
            
            <br><br>
            <button id="zero">0</button>
            <button id="dot">.</button>
            <button id="equals">=</button>
        </div>

        <div class="container"></div>

    </body>
</html>









